	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'Montserrat', 'Inter', 'Arial Black', 'Impact', sans-serif;
		background-color: #F7F8FC;
	}

	* {
		box-sizing: border-box
	}

	input,
	select,
	textarea {
		font-family: 'Montserrat', 'Inter';
	}
	select {
		cursor: pointer;
	}

	.hidden {
		display: none;
	}

	:root {
		--primary-color: #1C2A44;
		--secondary-color: #E8A900;
		--text-color: #343D46;
	}

	@font-face {
		font-family: 'Montserrat';
		/* A name for your custom font */
		src: url('../fonts/static/Montserrat-Regular.ttf');
	}

	@font-face {
		font-family: 'Montserrat-ExtraBold';
		/* A name for your custom font */
		src: url('../fonts/static/Montserrat-ExtraBold.ttf');
	}

	@font-face {
		font-family: 'Montserrat-Bold';
		/* A name for your custom font */
		src: url('../fonts/static/Montserrat-Bold.ttf');
	}

	@font-face {
		font-family: 'Montserrat-SemiBold';
		/* A name for your custom font */
		src: url('../fonts/static/Montserrat-SemiBold.ttf');
	}