---
import SEO from "../components/SEO.astro";
---

<!doctype html>
<html lang="en">
	<SEO
		title="York Garage Pros | Service Garage Door Repair in Newmarket, Ontario"
		description="Fast, reliable garage door repair & installation in Newmarket and surrounding York Region. 24/7 service available. Call now!"
		url="https://yorkgaragepros.com/"
		image="https://yorkgaragepros.com/_astro/logoonly.F0ejdWWK_Pnrmo.avif"
	/>
	<body>
		<slot />
	</body>
</html>


